@font-face {
  font-family: "Frank_Ruhl";
  src: url(Frank_Ruhl_Libre/FrankRuhlLibre-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Fira_Sans";
  src: url(Fira_Sans/FiraSans-Regular.ttf);
}

html {
  --bg-grey: #ebebeb;
  --blue: #c7ddea;
  --orange: #f17949;
  --yellow: #fab131;
  --grey: #a9a19e;
  --dark-grey: #777574;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-grey);
}

h1 {
  font-family: "Frank_Ruhl", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 64px;
  line-height: 90%;
  margin-bottom: 16px;
}

p {
  line-height: 200%;
  margin-top: 20px;
}

p,
nav {
  font-family: "Fira_Sans", Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

span {
  color: white;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.join-btn {
  width: 180px;
  padding: 20px 30px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px rgba(0, 0, 0, 0.15);
}

.grid1 {
  height: 960px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.grid1 .item1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
}

.grid1 .item1 article {
  width: 55%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.grid1 .item1 article p {
  width: 60%;
}

.grid1 .item1 img {
  position: absolute;
  transform: translate(210px, 460px);
  height: 500px;
}

.grid1 .item1 .join-btn {
  margin-top: 10px;
  margin-left: 225px;
}

.grid1 .item2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid1 .item2 h1 {
  color: white;
  margin-top: 12px;
}

.grid1 .item3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid1 .item3 h1 {
  color: white;
  margin-top: 12px;
}

nav {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0;
  font-weight: bold;
}

.grid2 {
  height: 1920px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.grid2 .item1 {
  background-color: var(--grey);
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid2 .item1 h1 {
  color: white;
  width: 50%;
  margin: 100px;
  margin-left: 225px;
}

.grid2 .item1 .join-btn {
  margin-left: 225px;
}

.grid2 .item2 {
  background-color: var(--grey);
  grid-column: 2/3;
  grid-row: 1/2;
}

.grid2 .item2 p {
  width: 50%;
  margin: 100px;
  margin-left: 225px;
}

.grid2 .item3 {
  background-color: var(--yellow);
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

.grid2 .item3 article {
  width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 330px;
}

.grid2 .item3 article h1 {
  color: white;
}
